extends layout
block content
 include header
 article(class='jogo') 
  div(class='content_jogo')
   audio(src="/audio/laser.mp3") 
   canvas#meuCanvas(width="500" height="500") 
  div(class="placar") 
   h1 SCORE
   h1(class="score")  0
 
 



    
      JOGO_CANVAS/public/audio/laser.mp3


















 

 