
canvas{
    background: url(images/3549556-espaco-galaxia-fundo-vetor.jpg);
}
.jogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
}
.content_jogo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.placar > h1 {
    text-align: center;
}
h1 {
    color: white;
    user-select: none;
}
body {
    background-color: black;
}
